.container {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
}

.spotName {
  font-size: 2.5em;
  margin-bottom: 5px;
}

.address {
  font-size: 1.5em;
  color: #666;
  margin-bottom: 20px;
}

.images {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  margin-bottom: 20px;
}

.spotImage {
  width: 100%;
  max-width: 600px; /* Adjust as needed to fit your design */
  height: auto;
  object-fit: cover;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.description {
  margin-bottom: 10px;
}

.price,
.rating {
  font-size: 1.2em;
}

.ownerInfo {
  margin-top: 20px;
  font-size: 1.2em;
}
