.container {
  text-align: center;
  margin-top: 50px;
  padding: 0px 15px;
}

.title {
  font-size: 3em;
  color: #333;
}

.spotsGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Maximum 4 spots per row */
  gap: 16px;
  margin-top: 20px;
}

.spotCard {
  border: 1px solid black;
  border-radius: 8px;
  overflow: hidden;
  background-color: #eee;
  position: relative;
}

.spotImage {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.spotInfo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: left;
  /* border: 2px solid red; */
  padding: 8px;
}

.spotLocation,
.spotRating,
.spotPrice {
  margin: 4px 0;
}

.spotRating {
  display: flex;
  width: 100%;
  justify-content: right;
  /* border: 2px solid purple; */
}

hr {
  justify-self: center;
  width: 75%;
}

/* Section */

.buttonContainer {
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.updateButton {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.updateButton:hover {
  background-color: #0056b3;
}

.deleteButton {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.deleteButton:hover {
  background-color: #c82333;
}

.noSpotsContainer {
  text-align: center;
  margin-top: 20px;
}
.createSpotButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-decoration: none;
  margin: 20px;
}
.createSpotButton:hover {
  background-color: #0056b3;
}
