.createSpotButton {
    margin-right: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .createSpotButton:hover {
    background-color: #0056b3;
  }
